.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* dდაიწყო ჰედერი */
header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.header_left_icone {
    padding-right: 5px;
}
.header_left p {
    color: #4468E2;
    font-size: 20px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    padding-right: 75px;
    font-size: 22px;
}
li:hover {
    color: #1C4961;
}
.Connect {
    font-size: 19px;
    border-radius: 17px;
    background-color: #4468E2;
    border: none;
}
/* დასრულდა ჰედერი  */
/* დაიწყო ბაქგრაუნდ ფოტოს სექცია */
.Travel_To_explore_beach {
    width: 93%;
    position: relative;
    margin-top: 71px;
}
.Travel_To_explore_text {
    width: 45%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    line-height: 33px; 
}
.Travel_To_explore_text_h1 {
    width: 63%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.Travel_To_explore_text_h3 {
    width: 63%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 39px;
}
.Travel_To_explore_text h1 {
    font-size: 50px;
    padding-bottom: 13px;
}
.Travel_To_explore_text h3 {
    font-size: 22px;
} 
.Travel_To_explore_white_box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    height: 89px;
    border-radius: 10px;
}
.white_box_div1 {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.white_box_div1_search {
    display: flex;
}
.white_box_div2 {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.white_box_div3 {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.first_line {
    font-size: 20px;
    color: #151515;
}
.second_line {
    font-size: 16px;
    color: #7E7E7E;
}
.Explore_Now {
    width: 24%;
    height: 63px;
    font-size: 21px;
    color: #FFFFFF;
    background-color: #4468E2;
    border: none;
    border-radius: 12px;
}
/* დამთავრდა ბექგრაუნდ ფოტოს სექცია */
/* დაიწყო recommendations-ს სექცია */
.recommendations {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-top: 178px;
    flex-wrap: wrap;
    margin-left: 5%;
}
.Get_Best_Prices {
    width: 17%;
}
.Covid_Safe {
    width: 17%;
}
.Flexible_Payment {
    width: 17%;
}
.Find_The_Best_Near_You {
    width: 17%;
}
.recommendations img {
    background-color: #EBF0FE;
    border-radius: 12px;
    width: 103px;
    height: 97px;
}
.recommendations_p1 {
    width: 100%;
    font-size: 24px;
    color: #0F0F0F;
    margin-top: 11px;
    margin-bottom: 23px;
}
.recommendations_p2 {
    width: 100%;
    font-size: 20px;
    color: #0F0F0F;
    line-height: 27px;
}
/* დამთავრდა recommendations-ს სექცია */
/* დაიწყო Recommended_Destination-ს სექცია */
.Recommended_Destination {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 178px;
}
.Recommended_Destination_h1 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 79px;
}
.Recommended_Destination_text_list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
}
.Recommended_Destination_text_list p {
    font-size: 26px;
    color: #163235;
    padding-right: 110px;
}
.Recommended_Destination_text_list p:hover {
    border-bottom: 3px solid #163235;
}
.Recommended_Destination_text_list p:active {
    border-bottom: 3px solid #163235;
}
.Recommended_Destination_image_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 200px;
}
.Singapore{
    width: 30%;
}
.Thailand {
    width: 30%;
}
.Paris {
    width: 30%;
}
.New_Zealand {
    width: 30%;
}
.Bora_Bora {
    width: 30%;
}
.London {
    width: 30%;
}
.p1 {
    width: 100%;
    font-size: 38px;
    color: #163235;
    margin-top: 11px;
    margin-bottom: 14px;
}
.p2 {
    width: 100%;
    font-size: 26px;
    color: #163235;
    margin-bottom: 13px;
    height: 66px;
}
.icone_p {
    font-size: 31px;
    color: #163235;
}
.big_img {
    width: 100%;
}
.Recommended_Destination_image_list_icone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
}
.little {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.little p {
    font-size: 22px;
    color: #163235;
}
/* დამთავრდა Recommended_Destination-ს სექცია */
/* დაიწყო Blogs-ს სექცია */
.Blogs_h1 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 73px;
    margin-left: 45%;
}
.Blogs {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 172px;
}
.Blogs_left {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Blogs_left img {
    position: relative;
    width: 100%;
}
.Blogs_left_p {
    position: absolute;
    font-size: 50px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.Blogs_right {
    width: 46%;
    display: flex;
    flex-direction: column;
} 
.plane_wiev {
    display: flex;
    align-items: center;
    justify-content: center;
}
.plane_wiev_img {
    width: 100%;
    position: relative;
}
.plane_wiev_p {
    position: absolute;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #FFFFFF;

}
.Female_Travelers {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Female_Travelers_img {
    width: 100%;
    position: relative;
}
.Female_Travelers_p {
    position: absolute;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #FFFFFF;

}
/* დამთავრდა blogs-ს სექცია  */
/* დაიწყო Happy Customers სექცია */
