.container {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}
header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.header_left_icone {
    padding-right: 5px;
}
.header_left p {
    color: #4468E2;
    font-size: 20px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    padding-right: 75px;
    font-size: 22px;
}
li:hover {
    color: #1C4961;
}
button {
    font-size: 19px;
    border-radius: 17px;
    background-color: #4468E2;
    border: none;
}
.Travel_To_explore {
    width: 93%;
}